:root{
  --font-color1: #f53844;
  --font-color2: blue
}
.cart {
  border: 1px solid skyblue;
}
#cart{
  background-color: white;
}
#cart .cart-body {
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
#cart .cart-empty{
  text-align: center;
  margin-top: 80px;
}
#cart .button{
  background-color: var(--font-color1);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
}
#cart .button:hover{
  color: black;
}
.button1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: not-allowed;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.32, 1);
}

.button1 span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.button1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: var(--font-color1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.button1 svg {
  width: 32px;
  height: 32px;
  fill: var(--font-color1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.button1:hover {
  animation: shake 0.2s linear 1;
}

.button1:hover::before {
  translate: 0 0;
}

.button1:hover svg {
  fill: #e8e8e8;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}
.total{
  font-weight: 550;
  text-align: left;
  padding: 10px;
  position: relative;
}
.total .align{
  text-align: left;
}
.total .h3{
  font-weight: 700;
}
.total .h4{
  font-weight: 600;
}
.total .btn{
  margin: 10px 0;
}
.total .order{
  background-color: rgb(10, 31, 69);
  color: white;
  border-radius: 10px;
}
.total input{
  width: 300px;
  height: 45px;
  padding: 5px;
  border: 1px solid;
}
@media (max-width:340px) {
  .total input{
    width: 240px;
  }
}
