#menSingle .row{
    border: 1px solid skyblue;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 2px;
}

/* image */
#menSingle .img-card{
    display: flex;
    flex-direction: row;
}
#menSingle .pose-main{
    display: flex;
    flex-direction: column;
    margin: 8px;
}
#menSingle .pose{
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#menSingle .pose:hover{
    border: 3px solid skyblue;
}
#menSingle .card-img-top{
    margin: 10px 5px 0 0;
    height: 350px;
}

/* text col */
#menSingle .description{
    text-align: left;
    padding: 20px;
}
#menSingle .title{
    font-weight: bold;
}
#menSingle .s-p{
    color: green;
}
#menSingle .nums{
    border: 1px solid skyblue;
    padding: 3px 8px;
    cursor: pointer;
    margin-left: 20px;
}
#menSingle .size{
    display: flex;
    padding: 30px 0px;
    margin-left: -20px;
}
#menSingle .ratings{
    width: 100px;
    height: 100px;
    margin: -6px 0px -25px 0px;
}
#menSingle .nums:hover{
    background-color: skyblue;
    border: 1px solid rgb(14, 177, 242);
}
#menSingle .active{
    background-color: skyblue;
}

@media (max-width:500px) {
    #menSingle .img-card{
        display: flex;
        flex-direction: column;
    }
    #menSingle .pose-main{
        display: flex;
        flex-direction: row;
        margin: 8px;
    }
    #menSingle .pose{
        height: 70px;
        width: 70px;
        margin: 10px;
        border-radius: 3px;
        cursor: pointer;
    }
}
@media (max-width:325px) {
    #menSingle .pose1{
        display: none;
    }
    #menSingle .pose{
        margin: 15px;
    }
}
