* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: whitesmoke;
  margin-bottom: -100px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
div{
  font-family: 'Courier New', Courier, monospace;
}
/* Navbar.js*/
.navbar{
  font-size: 1.3rem;
  height: 70px;
  /* background: linear-gradient(to top, #d4dbe0 0%, #e2ebf0 100%); */
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
nav img {
  width: 40px;
}
.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  margin-top: -10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: 0.3s linear;
}

.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}

.btn-cart:hover > .icon-cart path {
  fill: rgb(250, 77, 14);
}

.badge {
  color: orangered;
  position: absolute;
}
.nav-link{
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  font-weight: bold;
}
.nav-link:hover{
    color: orangered;
}